@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 1920px;
	margin: 0 auto;
	font-family: "PT Sans", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: #000;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
}

.header_top {
	width: 1116px;
	height: 44px;
	margin: 0 auto;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts {
	display: flex;
}

.phone_icon {
	margin: 3px 15px 0 0;
	background: url(../img/phone.svg) no-repeat;
	width: 16px;
	height: 16px;
}

.contacts li,
.contacts a,
.text_exit,
.text_registration,
.exit p {
	height: 16px;
	font: 12px/16px PT Sans;
	color: #969696;
}

.work_time li:first-child::after,
.work_time li:nth-child(2)::after {
	content: " | ";
}

.contacts li,
.contacts div {
	display: inline;
}

.text_exit {
	margin-right: 4px;
}

.text_exit::after {
	content: "/";
	margin-left: 4px;
}

.exit {
	display: flex;
}

.exit_icon {
	background: url(../img/exit.svg) no-repeat;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	display: block;
}

.header_nav {
	width: 100%;
	height: 80px;
	background-color: #0f0f0f;
}

.header_wrapper {
	width: 1116px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	font: bold 32px/54px "Playfair Display", serif;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid transparent;
	height: 80px;
	padding: 10px 4px 0 4px;
}

.text_exit:hover,
.text_registration:hover,
.header_logo:hover,
.footer_menu a:hover,
.footer_form button:hover {
	color: rgba(192, 192, 192, 0.609);
}

.nav_item {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav_item a,
.nav_item div {
	font: 14px/18px PT Sans;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 0 0 30px;
}

.nav_item a {
	border: 1px solid transparent;
	height: 80px;
	padding: 30px 4px 0 4px;
}

.nav_item a:hover,
.header_logo:hover {
	color: rgba(192, 192, 192, 0.609);
	border: 1px solid rgba(192, 192, 192, 0.609);
	background-color: rgba(0, 0, 0, 0.219);
}

.icons {
	display: flex;
}

.icons a:first-child {
	margin: 0 40px 0 60px;
}

.basket_icon {
	background: url(../img/basket.svg) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
}

.search_icon {
	background: url(../img/search.svg) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
}

.first_screen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 810px;
	background: url('../img/first-screen.jpg') no-repeat;
	padding-top: 29px;
}

.titles {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 320px;
	height: 320px;
	margin: 0;
	padding: 0;
	border: 4px solid #fff;
	color: #fff;
}

.main_title {
	font: bold 48px/96px "Playfair Display", serif;
	color: #fff;
	width: 195px;
	height: 86px;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
}

.subtitle {
	width: 190px;
	height: 44px;
	font: normal normal 22px/28px PT Sans;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	padding-left: 4px;
}

.first_text {
	width: 730px;
	height: 96px;
	font: normal normal 16px/24px PT Sans;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 80px;
}

.second_screen {
	display: flex;
	height: 730px;
}

.left_screen {
	background-color: #000;
	width: 1040px;
	height: 730px;
}

.title_season {
	font: bold 36px/48px "Playfair Display", serif;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 93px 0 50px 0;
}

.wrap {
	display: flex;
	justify-content: center;
}

.line {
	border: 1px solid #fff;
	width: 120px;
}

.line_1 {
	margin: 0 0 50px 0;
}

.wraper_watch_card,
.wraper_watch_card2 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 40px;
}

.watch {
	background-color: #191b1c;
	width: 260px;
	height: 325px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.watch_title {
	font: 18px/24px "Playfair Display", serif;
	color: #fff;
	padding: 25px 0 10px 0;
}

.watch_price {
	font: bold 16px/21px "Playfair Display", serif;
	color: #d0d0d0;
}

.right_screen {
	background: url(../img/man.jpg);
	width: 880px;
	height: 730px;
}

.collection_wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 100px;
}

.new_collection {
	font: bold 36px/48px "Playfair Display", serif;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.line_2 {
	margin: 30px 0 50px 0;
}

.button {
	width: 138px;
	height: 47px;
	border: 1px solid #fff;
	margin-left: 371px;
	background-color: transparent;
	font: 18px/23px PT Sans;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 25px 10px 25px;
}

.button:hover {
	background-color: rgba(192, 192, 192, 0.609);
}

.third_screen {
	display: flex;
	height: 600px;
}

.costume {
	background: url(../img/costume.jpg) no-repeat;
	width: 880px;
	height: 600px;
}

.collection {
	width: 1040px;
	background-color: #000;
}

.collection h3 {
	font: 36px/48px "Playfair Display", serif;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 100px 0 40px 0;
}

.line_3 {
	margin: 0 0 40px 0px;
}

.collection_old {
	width: 471px;
	height: 173px;
	font: 14px/21px PT Sans;
	text-align: center;
	color: #fff;
	margin: 0 0 61px 285px;
}

.fourth_screen {
	width: 100%;
	height: 1289px;
	background-color: #000;
}

.fourth_screen h3 {
	font: normal bold 36px/48px "Playfair Display", serif;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 120px 0 40px 0;
}

.line_4 {
	margin: 0 0 80px 0;
}

.fifth_screen {
	width: 100%;
	height: 362px;
	background: #0f0f0f;
}

.fifth_screen h3 {
	font: normal bold 36px/48px "Playfair Display", serif;
	text-transform: uppercase;
	color: #fff;
	padding: 60px 0 40px 815px;
}

.line_5 {
	margin: 0 0 40px 0;
}

.brends {
	display: flex;
	justify-content: center;
}

.brends img {
	margin: 0 30px 80px 0;
}

footer {
	height: 400px;
	width: 100%;
	background: url(../img/footer.jpg) no-repeat;
}

.footer_wrapper {
	width: 1110px;
	height: 100%;
	margin: 0 auto;
}

.footer_main h3 {
	display: flex;
	font: 24px/32px "Playfair Display", serif;
	text-transform: uppercase;
	color: #fff;
	padding: 80px 0 0 0;
}

.footer_main {
	display: flex;
}

.footer_left {
	width: 350px;
	height: 100%;
}

.footer_text {
	width: 350px;
	height: 147px;
	font: 14px/150% PT Sans;
	color: #fff;
	margin: 40px 31px 101px 0;
}

.footer_center {
	margin: 0 92px 0 30px;
}

.footer_menu {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 365px;
	height: 100px;
	margin: 40px 0 0 0;
}

.footer_menu li {
	margin: 20px 20px 20px 0;
}

.footer_menu a {
	color: white;
	background: #0f0f0f;
	padding: 10px 20px;
}

.distribution p {
	width: 390px;
	height: 42px;
	font: 14px/21px PT Sans;
	color: #fff;
	margin: 40px 0 37px 0;
}

.footer_form input {
	width: 210px;
	height: 42px;
	background: rgba(255, 255, 255, 0.4);
	border: none;
}

.footer_form input::placeholder {
	color: #ababab;
}

.footer_form button {
	padding: 10px 20px;
	height: 41px;
	background: #0f0f0f;
	font: 14px/21px PT Sans;
	letter-spacing: 0.05em;
	color: #fff;
	border: none;
	text-transform: uppercase;
}

.footer_down {
	width: 1190px;
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.footer_down h6 {
	font: 12px/16px PT Sans;
	color: #d0d0d0;
}

.footer_down a {
	font: normal bold 12px/16px PT Sans;
	text-decoration-line: underline;
	color: #d0d0d0;
}
